html{
	font-family: helvetica,sans-serif;
}
body{
	margin: 0px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

textarea, #msgs{
	display: inline;
}

textarea{
	position: fixed;
	top:100px;
	left: 0px;
	float:left;
	width: 35%;
	/*min-width: 100px;*/
	border-style: hidden;
	font-weight: bolder;
	resize:none;
	font-size: 35pt;
	padding: 20px;
	height: 520px;
	color: white;
	outline-width: 0px;
	background-color: #E5EAEC;
}
#msgs{
	width: 65%;
	float: left;
	color: grey;
	font-size: 14pt;
	margin-left: 35%;
}
#msgs p{
	margin-right: 50px;
	margin-left: 100px;
}

@media (max-width: 550px){
	textarea{
		position:relative;
		top: 0px;
		left: 0px;
		font-size: 28px;
		height: 500px;
		width: 100%;
	}
	#msgs{
		width: 75%;
	}
}
