html{
	font-family: helvetica,sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.typearea .msgs{
	display: inline;
}
.typearea{
	float:left;
	width: 35%;
}
textarea{
	border-style: hidden;
	font-weight: bolder;
	resize:none;
	margin-top: 30px;
	font-size: 35pt;
	padding: 20px;
	width: 100%;
	height: 520px;
	color: white;
	outline-width: 0px;
	background-color: #E5EAEC;
}
.msgs{
	max-width: 50%;
	float: left;
	color: grey;
	font-size: 14pt;
	margin: 40px;
}
.msgs p{
	max-width: 100%;
	margin-left: 40px;
}

@media (max-width: 550px){
	.typearea{
		width: 93%;
	}
}
