html{
	font-family: helvetica,sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}
textarea{
	border-style: hidden;
	font-weight: bolder;
	resize:none;
	margin-top: 30px;
	font-size: 35pt;
	padding: 20px;
	width: 35%;
	height: 540px;
	color: white;
	outline-width: 0px;
	background-color: #E5EAEC;
}
#type, #content{
	float:left;
	display: inline;
}
#content{
	color: #3D4A44;
	font-size: 14pt;;
	margin: 40px;
}
